<ion-content>
  <div class="main-container">
    <ion-header class="ion-no-border transparent-header">
      <ion-toolbar>
        <div class="main-title animate__animated animate__fadeIn">
          <ion-icon name="business-outline"></ion-icon>
          CoWorkGo
        </div>
      </ion-toolbar>
    </ion-header>

    <div class="welcome-container">
      <h1 class="animate__animated animate__fadeInDown">Bienvenido a CoWorkGo</h1>
      <p class="animate__animated animate__fadeInUp animate__delay-1s">Tu aplicación para reservar espacios de trabajo cuando y donde quieras</p>

      <ion-card class="transparent-card animate__animated animate__zoomIn animate__delay-1s">
        <ion-card-header>
          <ion-card-title>Comienza a usar CoWorkGo</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Encuentra el espacio perfecto para trabajar, reunirte o crear.</p>

          <div class="button-container">
            <ion-button expand="block" (click)="navigateToLogin()" color="primary" class="animate__animated animate__fadeInLeft animate__delay-2s">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              Iniciar Sesión
            </ion-button>

            <ion-button expand="block" (click)="navigateToRegister()" color="secondary" class="register-button animate__animated animate__fadeInRight animate__delay-2s">
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              Crear Cuenta
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
